@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/gilroyextrabold.woff"),
    url("/..fonts/gilroyextrabold.woff2");
    font-weight: 800;
    font-style: normal;
  }
@font-face {
    font-family: "Gilroy"; 
    src: url("/..fonts/gilroylight.woff"),
    url("/..fonts/gilroylight.woff2");
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: "Open Sans"; 
    src: url("/..fonts/opensans.woff"),
    url("/..fonts/opensans.woff2");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "Open Sans"; 
    src: url("/..fonts/opensanslight.woff"),
    url("/..fonts/opensanslight.woff2");
    font-weight: 300;
    font-style: normal;
  }
  
body {
    margin: 0;
    padding: 0;   
    background: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: #000000;
  }
  .visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.main-header {
    width: 1160px;
    min-height: 299px;
    background: #f7e296;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; 
    
}
.main-header-logo {
    position: absolute;
    margin-top: -18px;
    margin-left: 59px;
}

.main-header-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-wrapper-user {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 59px;
    padding-right: 59px;
    padding-top: 43px;
}

.header-user-link {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.header-user-navigation li {
    display: inline;
}
.header-user-navigation {
    margin: 0;
    padding: 0;
}

.search-form input[type="search"] {
    background-color: #f7e296;
    border: none;
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}

.user-compare a {
    margin-left: 233px;
}

.user-basket a {
    margin-left: 57px;
}

.header-wrapper-navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px;
}
.main-header-site-navigation li {
    display: inline;
} 

/* .main-catalogue-menu li {
    display: block;
} */
 
/* .main-header-site-navigation .main-catalogue {
    display: none;
} */

/* .main-header-site-navigation > li:hover .main-catalogue {
    display: block;
} */

 .catalogue-link {
    letter-spacing: 3.5px;
} 
.delivery-link {
    letter-spacing: 3.5px;
    padding-left: 315px;
}

.guarantee-link {
    padding-left: 27px;
    letter-spacing: 3.7px;
}  

.contacts-link {
    padding-left: 100px; 
    letter-spacing: 3.6px;
}


.header-user-link {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}
.main-header-site-link {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
}

.main-catalogue-link {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #000000;
}

.main-header-logo:hover,
.main-footer-logo:hover,
.html-academy-footer-logo:hover,
.main-header-site-link:hover,
.main-footer-site-navigation-link:hover,
.header-user-link:hover,
.main-catalogue-link:hover {
    opacity: 0.6;
}

.main-header-logo:focus,
.main-footer-logo:focus
.html-academy-footer-logo:focus,
.main-header-site-link:focus,
.main-footer-site-navigation-link:focus,
.header-user-link:focus,
.main-catalogue-link:focus {
    opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active,
.html-academy-footer-logo:active,
.main-header-site-link:active,
.main-footer-site-navigation-link:active,
.header-user-link:active,
.main-catalogue-link:active {
    opacity: 0.3;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 1160px;
}

.slider {
    margin-bottom: 105px;
}
.slider-item {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}
.slider-numbers {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 210px;
    right: 420px;
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 179.2px;
    line-height: 179px;
    letter-spacing: 0.5px;
    color: #ffffff;
} 
.slider-wrapper-img {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: -155px;
}
.slider-wrapper-description {
    display: flex;
    flex-direction: column;
    margin-right: 77px;
    margin-top: -115px;
}

.slider-heading {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    color: #000000; 
    text-align: left;
    letter-spacing: 0.55px;
    word-spacing: 0.1px;
}
.slider-description {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    letter-spacing: 0.18px;
    position: relative;
    top: -36px;
}

 .slider-link {
    font-family: "Gilroy";
    font-weight: 800;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
 }

 .parameters-name {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
    position: relative;
    top: 113px;
  }
.value-name {
    font-family: "Gilroy light";
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    position: relative;
    top: 33px; 
}

/* .slider-link { 
    text-transform: uppercase;
    line-height: 8px;
    font-size: 18px;
    padding-left: 600px;
    top: -500px;
}  */
/* 
.slider-link:hover {
    height: 40px;
    line-height: 40px;
    transition: 300ms ease;
}
  
.slider-link:active {
    opacity: 0.5;
    transition: 300ms ease;
} */  

.catalogue-list-name {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
 }
.catalogue-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
   
}

.catalogue-item {
    background-color: #f0c52e;
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 100px;
    opacity: 0.5; 
}

.catalogue-link  {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
 
}
.catalogue-item:hover  {
    opacity: 1;
}
.catalogue-img{
   position: relative;
   margin: auto;   
}

.catalogue-img-monopod {
    padding-top: 42px; 
}
.catalogue-list-name { 
    margin-bottom: 85px;  
}

.slider-services {
   display: flex;
   background: #e5e5e5;
}

.slider-services-buttons,
.slider-services-descriptions {
    list-style-type: none;
}

.partners-logotypes {
    margin: 0;
    padding: 0;
    display: flex;
   }
.partners-logo li{
    display: inline;
}

 .partner-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}  
/* .partners-link {
    filter: grayscale(100%);
    filter: gray; 
    opacity: 0.3;
    transition: all 1s;
}
  
.partners-link:hover {
    filter: none;
    opacity: 1;
}  */

.info {
    margin: 0;
    padding: 0;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
}
.info-heading {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 47px;
    line-height: 48px;
    color: #000000; 
}

.delivery-partners-item {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
    color: #000000;  
}

.main-footer {
    background: #464646;
    display: flex;
    flex-direction: column;
    min-height: 323px;
    margin-left: auto;
    margin-right: auto;
}
.footer-user-navigation li {
    display: inline;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
}
.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.main-footer-site-navigation li {
    display: inline;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.social li {
    display: inline;
}

.footer-user-navigation-link {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    opacity: 0.8;
}

.footer-user-navigation-link:hover,
.footer-user-navigation-link:focus {
    opacity: 1;
}
.footer-user-navigation-link:active {
    opacity: 0.3;
}
.main-footer-site-navigation-link {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-contacts {
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}
.users-fields {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.user-field {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #464646;
}
/* страница каталог */

.catalog-profile a {
    top: -55px;
}

.catalog-logout a{
    margin-left: 16px;
}
.catalog-compare a{
    margin-left: 78px;
}
.catalog-basket a{
    margin-left: 58px;
}
.catalogue-section-link { 
    font-family: "Open Sans light";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #464646;
    opacity: 0.5;
}
.catalogue-section-link:hover,
.catalogue-section-link:focus  { 
    opacity: 1;
}
.catalogue-section-link:active { 
    opacity: 0.3;
}
.sections-name {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #000000;  
    text-transform: uppercase;
    letter-spacing: 2px;
}
.name-filter {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000; 
}
.catalogue-sort,
.catalogue-filter {
    background: #ebebeb;
}

.sort-argument-link {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
.sort-argument-link:hover,
.sort-argument-link:focus  { 
    opacity: 0.6;
}
.sort-argument-link:active { 
    opacity: 1;
}

.product-name-link {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.product-price {
    font-family: "Gilroy light";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}